venv/
__pycache__/
token.json
credentials.json
.env
client_secret_797355252567-4481e589db8quupqa805h7utb4clubn1.apps.googleusercontent.com.json
winvenv/
client_secret_*.json
# Ignore raw data files:
data/*.csv
data/*.json
data/**/*.db
sa-key.json
secrets/current_creds.bin
current_creds.bin
